@use './colors' as *;
@use './animations' as *;
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-padding-top: 74px;
}
body {
	font-family: 'Montserrat', sans-serif;
	background-color: $bg-color;
}
a {
	text-decoration: none;
}
.blue-text {
	color: $main-color;
}
.shadow-bg {
	background-color: rgba(0, 0, 0, 0.8);
}
.section-title {
	text-align: center;
	text-transform: uppercase;
}
.underline {
	margin: 0 auto 40px;
	width: 60px;
	height: 4px;
	background-color: $main-color;
}

// nawigacja

nav {
	text-transform: uppercase;
	transition: background-color 0.6s;
	z-index: 5;

	.navbar-toggler {
		padding: 10px 15px;
	}
	.navbar-brand {
		font-weight: bold;
	}
	.nav-link,
	.navbar-nav .show > .nav-link,
	.navbar-brand,
	.fa-bars {
		color: $white;
	}
	.nav-link:focus,
	.nav-link:hover,
	.navbar-brand:focus,
	.navbar-brand:hover,
	.navbar-nav .nav-link.active,
	.navbar-nav .show > .nav-link {
		color: $main-color;
	}
}

//header

header.hero-img {
	position: relative;
	height: 100vh;
	background-image: url('../img/welding-1838986_640.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: $white;
	z-index: 0;
	h1 {
		text-transform: uppercase;
	}
	.hero-shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(0, 0, 0, 0.8);
		z-index: -5;
	}
	.hero-text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
	}
	.fa-chevron-down {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 20px;
		font-size: 30px;
		color: $white;
	}
}

// oferta

.offer {
	i {
		margin-top: 20px;
		font-size: 30px;
	}
	.offer-card-title {
		font-size: 18px;
		text-transform: uppercase;
	}
	.offer-card-text {
		font-size: 16px;
	}
	.offer-hover {
		transition: color 0.3;
	}
	.offer-hover:hover {
		color: $main-color;
	}
}

.offer-hero {
	position: relative;
	background-image: url('../img/computer_small.jpg');
	background-size: cover;
	background-position: center;
	color: $light-grey;
	z-index: 0;
	.offer-shadow {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgb(0, 0, 0, 0.9);
		z-index: -5;
	}
	.offer-hero-item {
		margin: 10px 0;

		i {
			font-size: 36px;
		}
		.offer-hero-title {
			font-size: 20px;
		}
	}
}
//kontakt

.contact {
	position: relative;
	background-image: url('../img/smartphone-3139219_1920.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	z-index: 0;
	color: $white;
	h3 {
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	.underline {
		background-color: $light-grey;
	}
	.contact-shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(0, 0, 0, 0.8);
		z-index: -5;
	}
	a {
		color: $white;
	}
	a:hover,
	.fa-envelope:hover,
	.fa-mobile-screen-button:hover {
		color: $main-color;
	}
}

//media

@media (max-width: 500px) {
	.top .responsive-container-block.bigContainer {
		padding-top: 10px;
		padding-right: 20px;
		padding-bottom: 10px;
		padding-left: 20px;
	}

	.top .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
		padding-top: 10px;
		padding-right: 0px;
		padding-bottom: 10px;
		padding-left: 0px;
	}

	.top .responsive-cell-block.wk-desk-12.wk-ipadp-12.wk-tab-12.wk-mobile-12.side {
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
	}
	.wk-mobile-1 {
		width: 8.333333%;
	}

	.wk-mobile-2 {
		width: 16.666667%;
	}

	.wk-mobile-3 {
		width: 25%;
	}

	.wk-mobile-4 {
		width: 33.333333%;
	}

	.wk-mobile-5 {
		width: 41.666667%;
	}

	.wk-mobile-6 {
		width: 50%;
	}

	.wk-mobile-7 {
		width: 58.333333%;
	}

	.wk-mobile-8 {
		width: 66.666667%;
	}

	.wk-mobile-9 {
		width: 75%;
	}

	.wk-mobile-10 {
		width: 83.333333%;
	}

	.wk-mobile-11 {
		width: 91.666667%;
	}

	.wk-mobile-12 {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.second-gallery {
		display: none;
	}
	.top .responsive-cell-block.wk-desk-12.wk-ipadp-12.wk-tab-12.wk-mobile-12.side {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 10px;
		margin-left: 0px;
	}

	.top .responsive-container-block.sideImgContainer {
		width: 100%;
		flex-direction: column;
		flex-wrap: nowrap;
	}
	.wk-tab-1 {
		width: 8.333333%;
	}

	.wk-tab-2 {
		width: 16.666667%;
	}

	.wk-tab-3 {
		width: 25%;
	}

	.wk-tab-4 {
		width: 33.333333%;
	}

	.wk-tab-5 {
		width: 41.666667%;
	}

	.wk-tab-6 {
		width: 50%;
	}

	.wk-tab-7 {
		width: 58.333333%;
	}

	.wk-tab-8 {
		width: 66.666667%;
	}

	.wk-tab-9 {
		width: 75%;
	}

	.wk-tab-10 {
		width: 83.333333%;
	}

	.wk-tab-11 {
		width: 91.666667%;
	}

	.wk-tab-12 {
		width: 100%;
	}
}

@media (min-width: 768px) {
	.second-gallery {
		display: none;
	}
	.small-cards {
		display: none;
	}
	.hero-text {
		h1 {
			font-size: 42px;
		}

		p {
			font-size: 20px;
		}
	}
}
@media (min-width: 992px) {
	.second-gallery {
		display: block;
	}
	.first-gallery {
		display: none;
	}
	html {
		scroll-padding-top: 72px;
	}
	.offer-hero {
		background-image: url('../img/computer_big.jpg');
	}
}

@media (max-width: 1024px) {
	.wk-ipadp-1 {
		width: 8.333333%;
	}

	.wk-ipadp-2 {
		width: 16.666667%;
	}

	.wk-ipadp-3 {
		width: 25%;
	}

	.wk-ipadp-4 {
		width: 33.333333%;
	}

	.wk-ipadp-5 {
		width: 41.666667%;
	}

	.wk-ipadp-6 {
		width: 50%;
	}

	.wk-ipadp-7 {
		width: 58.333333%;
	}

	.wk-ipadp-8 {
		width: 66.666667%;
	}

	.wk-ipadp-9 {
		width: 75%;
	}

	.wk-ipadp-10 {
		width: 83.333333%;
	}

	.wk-ipadp-11 {
		width: 91.666667%;
	}

	.wk-ipadp-12 {
		width: 100%;
	}
}

@media (min-width: 1200px) {
	header.hero-img {
		background-image: url('../img/welding-1838986_1920.jpg');
	}
	.carousel-item {
		height: 700px;
	}
}
